<section>
  <h1>Resources</h1>
  <p><a href="http://dl.dropbox.com/u/2015884/syllabi/phil540.pdf
">Syllabus</a> <br>
     <a href="http://www.oxfordscholarship.com.libproxy.usc.edu/view/10.1093/0195145399.001.0001/acprof-9780195145397"><i>The Oxford Handbook of Rationality</i></a>  <br>
	 <a href="http://plato.stanford.edu/entries/preferences/">SEP entry on Preferences</a> <br>
	 <a href="http://plato.stanford.edu/entries/practical-reason/">SEP entry on Practical Reason</a> <br>
	<a href="http://plato.stanford.edu/entries/desire/">SEP entry on Desires</a>
	</p>
</section>